---
# tasks file for sonarqube

# 1. Create group
- name: Create Sonarqube Group
  group:
    name: "{{ sonarqube_group }}"
    state: present

# 2. Create user
- name: Create SonarQube user
  user:
    name: "{{ sonarqube_user }}"
    group: "{{ sonarqube_group }}"
    groups: "{{ sudo_group }}"
    append: yes
    shell: /bin/bash
    create_home: yes
    home: "{{ sonarqube_install_dir }}"
    password: "{{ sonarqube_password_hash }}"
  register: sonar_user_status

- name: allow SonarQube user passwordless sudo
  copy:
    dest: /etc/sudoers.d/sonarqube
    content: "{{ sonarqube_user }} ALL=(ALL) NOPASSWD:ALL"
    mode: '0440'
# 3. Sonarqube user creation validation
- name: Notify if SonarQube user was created
  debug:
    msg: "SonarQube user '{{ sonarqube_user }}' was created."
  when: sonar_user_status.changed

- name: Notify if SonarQube user already existed
  debug:
    msg: "SonarQube user '{{ sonarqube_user }}' already exists."
  when: not sonar_user_status.changed



# 3. Install unzip
- name: Install dependencies for unarchive
  package:
    name: unzip
    state: present
  when: ansible_os_family in ['Debian', 'RedHat']

# 4. Download SonarQube ZIP archive
- name: Download SonarQube
  get_url:
    url: "{{ sonarqube_download_url }}"
    dest: "/tmp/sonarqube.zip"
  when: ansible_os_family in ['Debian', 'RedHat']
# 5. Create directories
- name: Create SonarQube and temp directories
  file:
    path: "{{ item }}"
    state: directory
    owner: "{{ sonarqube_user }}"
    group: "{{ sonarqube_group }}"
    mode: '0755'
  loop:
    - /opt/sonarqube
    - /tmp/sonarqube_unzip
  when: ansible_os_family in ['Debian', 'RedHat']
# 6. Unzip to temp
- name: Unzip SonarQube to temp directory
  unarchive:
    src: "/tmp/sonarqube.zip"
    dest: /tmp/sonarqube_unzip
    remote_src: true
  when: ansible_os_family in ['Debian', 'RedHat']
# 7. Find extracted top-level folder
- name: Find top-level folder name
  ansible.builtin.find:
    paths: /tmp/sonarqube_unzip
    file_type: directory
    depth: 1
  register: top_level_folder
  when: ansible_os_family in ['Debian', 'RedHat']



# 11. Move contents from extracted folder
- name: Move SonarQube files into /opt/sonarqube
  shell: mv {{ item.path }}/* /opt/sonarqube/
  args:
    creates: /opt/sonarqube/bin
  loop: "{{ top_level_folder.files }}"
  when: top_level_folder.matched == 1 and ansible_os_family in ['Debian', 'RedHat']
  
# 12. Remove temp unzip dir
- name: Clean up temporary unzip directory
  file:
    path: /tmp/sonarqube_unzip
    state: absent

# 13. Fix permissions of everything under /opt/sonarqube
- name: Ensure sonarqube user owns all files
  file:
    path: /opt/sonarqube
    owner: "{{ sonarqube_user }}"
    group: "{{ sonarqube_group }}"
    recurse: yes
  become: true

# 14. Copy SonarQube service file
- name: Copy SonarQube service file
  template:
    src: sonarqube_rh.service.j2
    dest: /etc/systemd/system/sonarqube.service
    mode: '0644'
  notify:
    - reload systemd
  when: ansible_os_family == "RedHat"
# 14. Copy SonarQube service file
- name: Copy SonarQube service file debian
  template:
    src: sonarqube_db.service.j2
    dest: /etc/systemd/system/sonarqube.service
    mode: '0644'
  notify:
    - reload systemd
  when: ansible_os_family == "Debian"
# 15. Configure sonar.properties
- name: Configure SonarQube
  template:
    src: sonar.properties.j2
    dest: /opt/sonarqube/conf/sonar.properties
    owner: "{{ sonarqube_user }}"
    group: "{{ sonarqube_group }}"
    mode: '0644'

# 15. Open firewall ports (RedHat)
- name: Ensure firewalld is installed
  yum:
    name: firewalld
    state: present
  when: ansible_os_family == "RedHat"
- name: Ensure firewalld is running and enabled
  systemd:
    name: firewalld
    state: started
    enabled: yes
  when: ansible_os_family == "RedHat"
- name: Open SonarQube port in firewalld
  firewalld:
    port: "{{ sonarqube_port }}/tcp"
    permanent: yes
    state: enabled
    immediate: yes
  when: ansible_os_family == "RedHat"


# 16. Allow port on UFW (Debian)
- name: Ensure UFW installed (Debian)
  apt:
    name: ufw
    state: present
  when: ansible_os_family == "Debian"

- name: Allow SonarQube port (Debian)
  community.general.ufw:
    rule: allow
    port: "{{ sonarqube_port }}"
    proto: tcp
  when: ansible_os_family == "Debian"

- name: Enable UFW
  community.general.ufw:
    state: enabled
  when: ansible_os_family == "Debian"

# 17. Remove stale PID + temp
- name: Remove stale PID and temp directory
  
  file:
    path: "{{ item }}"
    state: absent
  loop:
    - /opt/sonarqube/bin/linux-x86-64/SonarQube.pid
    - /opt/sonarqube/temp
  
  
- name: start sonarqube
  shell: |
    su {{ sonarqube_user }} -c 'bash /opt/sonarqube/bin/linux-x86-64/sonar.sh start'
    
  register: sonarqube_status
  
- name: Check SonarQube status
  shell: |
    su {{ sonarqube_user }} -c 'bash /opt/sonarqube/bin/linux-x86-64/sonar.sh status'
  register: sonarqube_status
  changed_when: false
  failed_when: false

- name: Display SonarQube status
  debug:
    msg: "{{ sonarqube_status.stdout }}"



