sonar.jdbc.username={{ postgresql_user }}
sonar.jdbc.password={{ postgresql_password }}
sonar.jdbc.url=jdbc:postgresql://localhost:{{ postgresql_port }}/{{ postgresql_db }}
sonar.web.port={{ sonarqube_port }}
